<nav class="flex flex-row justify-between items-center p-4 border-b-[1px] border-b-gray-300">
    <div>
        <a routerLink="/home" class="logo">
            <app-logo />
        </a>
    </div>
    <section>
        <ul class="flex space-x-4">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active">Testimonials</a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active">Features</a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active">Emergency</a>
            </li>
        </ul>
    </section>
</nav>
