<nav class="flex flex-row justify-between items-center p-4 border-b-[1px] border-b-gray-300">
    <div>
        <a routerLink="/home" class="logo">
            <app-logo />
        </a>
    </div>
    <section class="flex flex-row items-center space-x-4">
        <ul class="flex space-x-4">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
            </li>
            <li>
                <a routerLink="/features" routerLinkActive="active">Features</a>
            </li>
            <li>
                <a routerLink="/emergency" routerLinkActive="active">Emergency</a>
            </li>
        </ul>
        <div class="flex space-x-2">
            <a routerLink="/signin" class="btn btn-primary">Login</a>
            <a routerLink="/signup" class="btn btn-secondary">Register</a>
        </div>
    </section>
</nav>
